<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>500px</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Spotify</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Flickr</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Github</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Instagram</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Foursquare</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Fitbit</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Fitbit2</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Withings</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Linkedin</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Linkedin2</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Dropbox</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Dribbble</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Salesforce</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>BitBucket</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>GoogleDrive</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Smugmug</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Intuit</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Zaim</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Tumblr</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Slack</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Uber</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Gitter</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Hatena</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Trello</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Buffer</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Goodreads</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Typetalk</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>SoundCloud</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Digu</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
	<key>Noun</key>
	<dict>
		<key>consumerSecret</key>
		<string></string>
		<key>consumerKey</key>
		<string></string>
	</dict>
	<key>Imgur</key>
	<dict>
		<key>consumerSecret</key>
		<string></string>
		<key>consumerKey</key>
		<string></string>
	</dict>
	<key>Twitch</key>
	<dict>
		<key>consumerSecret</key>
		<string></string>
		<key>consumerKey</key>
		<string></string>
	</dict>
	<key>Reddit</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
	</dict>
</dict>
</plist>
