<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BitBucket</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://bitbucket.org/api/1.0/oauth/request_token</string>
		<key>authorizeUrl</key>
		<string>https://bitbucket.org/api/1.0/oauth/authenticate</string>
		<key>accessTokenUrl</key>
		<string>https://bitbucket.org/api/1.0/oauth/access_token</string>
		<key>form_selector</key>
		<string>form[id=&quot;login-form&quot;]</string>
		<key>form_button_selector</key>
		<string>button[name=&quot;submit&quot;]</string>
		<key>form_username_selector</key>
		<string>input[id=&quot;id_username&quot;]</string>
		<key>form_password_selector</key>
		<string>input[id=&quot;id_password&quot;]</string>
	</dict>
	<key>Dropbox</key>
	<dict>
		<key>form_button_selector</key>
		<string>button</string>
		<key>form_selector</key>
		<string>form</string>
		<key>form_username_selector</key>
		<string>input[name=&quot;login_email&quot;]</string>
		<key>form_password_selector</key>
		<string>input[name=&quot;login_password&quot;]</string>
		<key>authorize_button_selector</key>
		<string>button[name=&quot;allow_access&quot;]</string>
		<key>responseType</key>
		<string>token</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://www.dropbox.com/1/oauth2/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://api.dropbox.com/1/oauth2/token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/dropbox</string>
		<key>scope</key>
		<string></string>
	</dict>
	<key>Linkedin2</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://www.linkedin.com/uas/oauth2/authorization</string>
		<key>accessTokenUrl</key>
		<string>https://www.linkedin.com/uas/oauth2/accessToken</string>
		<key>callbackURL</key>
		<string>http://oauthswift.herokuapp.com/callback/linkedin2</string>
		<key>scope</key>
		<string>r_fullprofile</string>
	</dict>
	<key>Foursquare</key>
	<dict>
		<key>responseType</key>
		<string>token</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://foursquare.com/oauth2/authorize</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/foursquare</string>
		<key>scope</key>
		<string></string>
	</dict>
	<key>Intuit</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://oauth.intuit.com/oauth/v1/get_request_token</string>
		<key>authorizeUrl</key>
		<string>https://appcenter.intuit.com/Connect/Begin</string>
		<key>accessTokenUrl</key>
		<string>https://oauth.intuit.com/oauth/v1/get_access_token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/intuit</string>
	</dict>
	<key>Fitbit</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://api.fitbit.com/oauth/request_token</string>
		<key>authorizeUrl</key>
		<string>https://www.fitbit.com/oauth/authorize?display=touch</string>
		<key>accessTokenUrl</key>
		<string>https://api.fitbit.com/oauth/access_token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/fitbit</string>
	</dict>
	<key>Facebook</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://www.facebook.com/dialog/oauth</string>
		<key>accessTokenUrl</key>
		<string>https://graph.facebook.com/oauth/access_token</string>
		<key>callbackURL</key>
		<string>https://oauthswift.herokuapp.com/callback/facebook</string>
		<key>scope</key>
		<string>public_profile</string>
	</dict>
	<key>Salesforce</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://login.salesforce.com/services/oauth2/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://login.salesforce.com/services/oauth2/token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/salesforce</string>
		<key>scope</key>
		<string>full</string>
	</dict>
	<key>Linkedin</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://api.linkedin.com/uas/oauth/requestToken</string>
		<key>authorizeUrl</key>
		<string>https://api.linkedin.com/uas/oauth/authenticate</string>
		<key>accessTokenUrl</key>
		<string>https://api.linkedin.com/uas/oauth/accessToken</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/linkedin</string>
	</dict>
	<key>Gitter</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://gitter.im/login/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://gitter.im/login/oauth/token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/gitter</string>
		<key>scope</key>
		<string>flow</string>
	</dict>
	<key>Slack</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://slack.com/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://slack.com/api/oauth.access</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/slack</string>
		<key>scope</key>
		<string></string>
	</dict>
	<key>Zaim</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://api.zaim.net/v2/auth/request</string>
		<key>authorizeUrl</key>
		<string>https://auth.zaim.net/users/auth</string>
		<key>accessTokenUrl</key>
		<string>https://api.zaim.net/v2/auth/access</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/zaim</string>
	</dict>
	<key>Smugmug</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>http://api.smugmug.com/services/oauth/getRequestToken.mg</string>
		<key>authorizeUrl</key>
		<string>http://api.smugmug.com/services/oauth/authorize.mg</string>
		<key>accessTokenUrl</key>
		<string>http://api.smugmug.com/services/oauth/getAccessToken.mg</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/smugmug</string>
	</dict>
	<key>GoogleDrive</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://accounts.google.com/o/oauth2/auth</string>
		<key>accessTokenUrl</key>
		<string>https://accounts.google.com/o/oauth2/token</string>
		<key>callbackURL</key>
		<string>https://oauthswift.herokuapp.com/callback/google</string>
		<key>scope</key>
		<string>https://www.googleapis.com/auth/drive</string>
	</dict>
	<key>Dribbble</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://dribbble.com/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://dribbble.com/oauth/token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/dribbble</string>
		<key>scope</key>
		<string></string>
	</dict>
	<key>Fitbit2</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://www.fitbit.com/oauth2/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://api.fitbit.com/oauth2/token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/fitbit2</string>
		<key>scope</key>
		<string>profile</string>
	</dict>
	<key>Uber</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://login.uber.com/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://login.uber.com/oauth/token</string>
		<key>callbackURL</key>
		<string>https%3A%2F%2Foauthswift.herokuapp.com%2Fcallback%2Fuber</string>
		<key>scope</key>
		<string>profile</string>
	</dict>
	<key>Tumblr</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>http://www.tumblr.com/oauth/request_token</string>
		<key>authorizeUrl</key>
		<string>http://www.tumblr.com/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>http://www.tumblr.com/oauth/access_token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/tumblr</string>
	</dict>
	<key>Flickr</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://www.flickr.com/services/oauth/request_token</string>
		<key>authorizeUrl</key>
		<string>https://www.flickr.com/services/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://www.flickr.com/services/oauth/access_token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/flickr</string>
	</dict>
	<key>Github</key>
	<dict>
		<key>responseType</key>
		<string>code</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://github.com/login/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://github.com/login/oauth/access_token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/github</string>
		<key>scope</key>
		<string>user,repo</string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://api.twitter.com/oauth/request_token</string>
		<key>authorizeUrl</key>
		<string>https://api.twitter.com/oauth/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://api.twitter.com/oauth/access_token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/twitter</string>
	</dict>
	<key>Instagram</key>
	<dict>
		<key>responseType</key>
		<string>token</string>
		<key>version</key>
		<string>2</string>
		<key>authorizeUrl</key>
		<string>https://api.instagram.com/oauth/authorize</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/instagram</string>
		<key>scope</key>
		<string>likes+comments</string>
	</dict>
	<key>Withings</key>
	<dict>
		<key>version</key>
		<string>1</string>
		<key>requestTokenUrl</key>
		<string>https://oauth.withings.com/account/request_token</string>
		<key>authorizeUrl</key>
		<string>https://oauth.withings.com/account/authorize</string>
		<key>accessTokenUrl</key>
		<string>https://oauth.withings.com/account/access_token</string>
		<key>callbackURL</key>
		<string>oauth-swift://oauth-callback/withings</string>
	</dict>
</dict>
</plist>
