name: Test
on: push
jobs:
  build:
    name: test
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: libxml
        run: brew install libxml2
      - name: Swift test
        run: |
          # on mac os
          swift --version
          swift test 
          # on iOS (deactivate until resolve issue with XCText)
          #sdk=`xcrun -sdk iphonesimulator -show-sdk-path`
          #sdkVersion=`echo $sdk | sed -E 's/.*iPhoneSimulator(.*)\.sdk/\1/'`
          #swift test -Xswiftc "-sdk" -Xswiftc "$sdk" -Xswiftc "-target" -Xswiftc "x86_64-apple-ios$sdkVersion-simulator"
      - name: Xcode test
        run: |
          pod update
          xcodebuild -workspace OAuthSwift.xcworkspace  -scheme OAuthSwiftMacOS test
